<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />

<title>购物流程_GIRDEAR哥弟女装官方旗舰店_哥弟官网（官方商城）</title>

<link rel="stylesheet" type="text/css" href="css/flow.css">
<link rel="icon" href="animated_favicon.gif" type="image/gif" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/core.css" type="text/css"/>
<link rel="stylesheet" href="css/head.css" type="text/css"/>
<link rel="stylesheet" href="css/foot.css" type="text/css"/>
<link rel="stylesheet" href="css/new-index.css" type="text/css"/>
<link rel="stylesheet" href="css/topnew.css" type="text/css"/>

<script type="text/javascript" src="js/utils.js"></script><script type="text/javascript" src="js/common.js"></script><script type="text/javascript" src="js/shopping_flow.js"></script><script type="text/javascript" src="js/transport.js"></script></head>
<body>
<script type="text/javascript" src="js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollloading-min.js"></script><div id="head" style="z-index:2">
  <div class="title1">
    <div class="titlewidth2">
      <div class="titlewidth clearfix">
        <div class="loginStatus clearfix">
          <div class="loginWeibo">
            <ul class="elf_table clearfix">
            <div class="header" id="headerBox">
    <div class="container clearfix">
        <div class="header-welcome">
                    <a rel="nofollow" style='margin-right:14px;' class="header-welcome-login" href="./users.php?op=Login">请登录</a>
            <a rel="nofollow" style='margin-right:14px;' class="header-welcome-reg" href="./users.php?op=Register">注册</a>
                </div>
        <div class="header-quick-entry clearfix">
            <a rel="nofollow" href="tel://4006177188"><span>|</span><i class="public-sprite header-icon-tel"></i>4006-177-188</a>
            <a class="header-entry-qr" rel="nofollow" href="javascript:;">
                <span>|</span>
                <i class="public-sprite header-icon-weixin"></i>
                微信商城
                <div class="header-qr-box">
                    <img src="picture/weixin.jpg">
                    <h2>微信商城送福利</h2>
                    <p>关注即减25元</p>
                </div>
            </a>
			<a class="header-entry-qr" rel="nofollow" href="javascript:;">
                <span>|</span>
                <i class="public-sprite header-icon-phone"></i>
                手机商城
                <div class="header-qr-box">
                    <img src="picture/yidong.jpg">
                    <h2>手机下单更优惠</h2>
                    <p>每单减1元</p>
                </div>
            </a>
            <a rel="nofollow" href="http://www.girdear.cn/article_cat-10-%E5%B8%AE%E5%8A%A9%E4%B8%AD%E5%BF%83.html"><span>|</span>帮助中心</a>
        </div>
    </div>
</div>
            </ul>
            <div style="width:990px; margin:0 auto; text-align:center;">
            
            <img style='position: relative;left: 0;top: 10px;' src="picture/index_need.jpg" usemap="#Hang0123123">
            <map name="Hang0123123" id="Hang0123123">
              <area shape="rect" coords="2,1,76,61" href="http://www.girdear.cn/topic.php?topic_id=14" target="_blank" />
              <area shape="rect" coords="78,0,149,60" href="http://www.girdear.cn/topic.php?topic_id=131" target="_blank" />
            </map>
            
            <img style='margin-right: 15%;position: relative;left: 18%;' src="picture/logo.jpg" />
            <div class="jSearchArea" style="position: relative;right:-284px;top:-29px;">
                <form onsubmit="return searchTop(this)" action="http://www.girdear.cn/category.php?id=0" method="get">         
                  <div class="jSearchInput">
                  <input type="hidden" value="0" name="id">
                  <input type="hidden" value="search" name="op">
                  <input type="text" name="keywords" id="top_keyword" onblur=" if(this.value == '') this.value = '请输入商品关键字'" onfocus="if(this.value == '请输入商品关键字') this.value =''" value="">
                    <button type="submit" class="user-search-btn">
                      搜索
                    </button>   
                  </div>  
                </form>
          </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="navigation clearfix" id="navigation" style='width:125%;margin-left:-10%;'>
        <li class="parentLi all_product" > <a href="search_goods.php" class="allTitle" style="width:190px; margin-left:10px;">本店所有商品<i class="popup_icon"></i></a>
          <div class="product_list">
                      
            <div class="product_row product_row_child"> <a href="category-353-b0-%E7%89%B9%E8%89%B2%E6%96%B0%E5%93%81.html" class="product_row_name " >特色新品</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-354-b0-%E5%85%A8%E6%88%90%E5%9E%8B%E9%92%88%E7%BB%87.html"  >全成型针织</a> </div>
                                <div class="three_nav_child"> <a href="category-356-b0-%E6%84%9F%E6%81%A9%E5%9B%9E%E9%A6%88%E6%AC%BE.html"  >感恩回馈款</a> </div>
                                <div class="three_nav_child"> <a href="category-357-b0-%E5%93%A5%E5%BC%9F%E6%8B%9B%E7%89%8C%E9%9D%A2%E6%96%99.html"  >哥弟招牌面料</a> </div>
                                <div class="three_nav_child"> <a href="category-355-b0-%E5%8F%8C%E9%9D%A2%E5%91%A2.html"  >双面呢</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-379-b0-%E7%83%AD%E9%94%80%E6%A6%9C.html" class="product_row_name " >热销榜</a>  </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-373-b0-%E7%BB%8F%E5%85%B8%E5%A5%97%E8%A3%85.html" class="product_row_name " >经典套装</a>  </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-404-b0-%E6%8B%9B%E7%89%8C%E6%AC%BE.html" class="product_row_name " >招牌款</a>  </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-270-b0-%E8%A1%AC%E8%A1%AB.html" class="product_row_name " >衬衫</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-278-b0-%E9%95%BF%E8%A2%96.html"  >长袖</a> </div>
                                <div class="three_nav_child"> <a href="category-279-b0-%E6%97%A0%E8%A2%96.html"  >无袖</a> </div>
                                <div class="three_nav_child"> <a href="category-280-b0-%E7%9F%AD%E8%A2%96.html"  >短袖</a> </div>
                                <div class="three_nav_child"> <a href="category-281-b0-%E7%99%BD%E8%A1%AC%E8%A1%AB.html"  >白衬衫</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-372-b0-%E5%95%86%E5%9C%BA%E5%90%8C%E6%AC%BE.html" class="product_row_name " >商场同款</a>  </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-40-b0-%E5%A4%96%E5%A5%97.html" class="product_row_name " >外套</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-269-b0-%E7%BE%BD%E7%BB%92%E6%9C%8D.html"  >羽绒服</a> </div>
                                <div class="three_nav_child"> <a href="category-259-b0-%E7%9A%AE%E8%A1%A3.html"  >皮衣</a> </div>
                                <div class="three_nav_child"> <a href="category-87-b0-%E6%AF%9B%E5%91%A2%E5%A4%A7%E8%A1%A3.html"  >毛呢大衣</a> </div>
                                <div class="three_nav_child"> <a href="category-88-b0-%E9%A3%8E%E8%A1%A3.html"  >风衣</a> </div>
                                <div class="three_nav_child"> <a href="category-273-b0-%E8%A5%BF%E8%A3%85.html"  >西装</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-358-b0-2017%E5%88%9D%E7%A7%8B%E6%96%B0%E5%93%81.html" class="product_row_name " >2017初秋新品</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-359-b0-%E6%9C%8D%E9%A5%B0.html"  >服饰</a> </div>
                                <div class="three_nav_child"> <a href="category-367-b0-%E9%9E%8B%E5%8C%85.html"  >鞋包</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-300-b0-%E6%AF%8F%E5%91%A8%E6%96%B0%E5%93%81.html" class="product_row_name " >每周新品</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-407-b0-817%E4%B8%8A%E6%96%B0.html"  >8.17上新</a> </div>
                                <div class="three_nav_child"> <a href="category-406-b0-814%E4%B8%8A%E6%96%B0.html"  >8.14上新</a> </div>
                                <div class="three_nav_child"> <a href="category-400-b0-810%E4%B8%8A%E6%96%B0.html"  >8.10上新</a> </div>
                                <div class="three_nav_child"> <a href="category-405-b0-87%E4%B8%8A%E6%96%B0.html"  >8.7上新</a> </div>
                                <div class="three_nav_child"> <a href="category-403-b0-83%E4%B8%8A%E6%96%B0.html"  >8.3上新</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-272-b0-T%E6%81%A4.html" class="product_row_name " >T恤</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-289-b0-%E7%9F%AD%E8%A2%96.html"  >短袖</a> </div>
                                <div class="three_nav_child"> <a href="category-290-b0-%E9%95%BF%E8%A2%96.html"  >长袖</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-271-b0-%E9%92%88%E7%BB%87.html" class="product_row_name " >针织</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-374-b0-%E7%9F%AD%E8%A2%96%E9%92%88%E7%BB%87.html"  >短袖针织</a> </div>
                                <div class="three_nav_child"> <a href="category-285-b0-%E5%A5%97%E5%A4%B4.html"  >套头</a> </div>
                                <div class="three_nav_child"> <a href="category-286-b0-%E5%BC%80%E8%A1%AB.html"  >开衫</a> </div>
                                <div class="three_nav_child"> <a href="category-287-b0-%E6%98%A5%E5%A4%8F%E9%92%88%E7%BB%87.html"  >春夏针织</a> </div>
                                <div class="three_nav_child"> <a href="category-288-b0-%E7%A7%8B%E5%86%AC%E6%AF%9B%E8%A1%A3.html"  >秋冬毛衣</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-18-b0-%E8%A3%A4%E8%A3%85.html" class="product_row_name " >裤装</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-42-b0-%E7%89%9B%E4%BB%94%E8%A3%A4.html"  >牛仔裤</a> </div>
                                <div class="three_nav_child"> <a href="category-49-b0-%E4%BC%91%E9%97%B2%E8%A3%A4.html"  >休闲裤</a> </div>
                                <div class="three_nav_child"> <a href="category-63-b0-%E7%9F%AD%E8%A3%A4.html"  >短裤</a> </div>
                                <div class="three_nav_child"> <a href="category-73-b0-%E5%B0%8F%E8%84%9A%E8%A3%A4.html"  >小脚裤</a> </div>
                                <div class="three_nav_child"> <a href="category-301-b0-%E7%9B%B4%E7%AD%92%E8%A3%A4.html"  >直筒裤</a> </div>
                                <div class="three_nav_child"> <a href="category-302-b0-%E6%8B%9B%E7%89%8C%E8%A3%A4.html"  >招牌裤</a> </div>
                                <div class="three_nav_child"> <a href="category-303-b0-%E5%93%88%E4%BC%A6%E8%A3%A4.html"  >哈伦裤</a> </div>
                                <div class="three_nav_child"> <a href="category-304-b0-%E9%98%94%E8%85%BF%E8%A3%A4.html"  >阔腿裤</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-43-b0-%E8%A3%99%E8%A3%85.html" class="product_row_name " >裙装</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-44-b0-%E8%BF%9E%E8%A1%A3%E8%A3%99.html"  >连衣裙</a> </div>
                                <div class="three_nav_child"> <a href="category-298-b0-%E5%8D%8A%E8%BA%AB%E8%A3%99.html"  >半身裙</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-115-b0-%E5%8C%85%E5%8C%85.html" class="product_row_name " >包包</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-178-b0-%E6%89%8B%E6%8F%90%E5%8C%85.html"  >手提包</a> </div>
                                <div class="three_nav_child"> <a href="category-238-b0-%E6%89%8B%E6%8B%BF%E5%8C%85.html"  >手拿包</a> </div>
                                <div class="three_nav_child"> <a href="category-239-b0-%E5%8D%95%E8%82%A9%E6%96%9C%E6%8C%8E%E5%8C%85.html"  >单肩/斜挎包</a> </div>
                                <div class="three_nav_child"> <a href="category-240-b0-%E5%8F%8C%E8%82%A9%E5%8C%85.html"  >双肩包</a> </div>
                                <div class="three_nav_child"> <a href="category-241-b0-%E9%92%B1%E5%8C%85%E6%89%8B%E6%9C%BA%E5%8C%85.html"  >钱包/手机包</a> </div>
                                <div class="three_nav_child"> <a href="category-346-b0-%E5%8C%85%E5%8C%85%E8%82%A9%E5%B8%A6.html"  >包包肩带</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-378-b0-%E5%8D%AB%E8%A1%A3.html" class="product_row_name " >卫衣</a>  </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-377-b0-%E9%A9%AC%E7%94%B2.html" class="product_row_name " >马甲</a>  </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-385-b0-%E6%97%A5%E5%8C%96%E9%A3%9F%E5%93%81.html" class="product_row_name " >日化食品</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-122-b0-%E6%97%A5%E5%8C%96.html"  >日化</a> </div>
                                <div class="three_nav_child"> <a href="category-123-b0-%E9%A3%9F%E5%93%81.html"  >食品</a> </div>
                                <div class="three_nav_child"> <a href="category-330-b0-%E7%BA%A2%E9%85%92.html"  >红酒</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-20-b0-%E9%85%8D%E9%A5%B0.html" class="product_row_name " >配饰</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-45-b0-%E7%9A%AE%E5%B8%A6.html"  >皮带</a> </div>
                                <div class="three_nav_child"> <a href="category-46-b0-%E5%9B%B4%E5%B7%BE.html"  >围巾</a> </div>
                                <div class="three_nav_child"> <a href="category-91-b0-%E4%B8%9D%E5%B7%BE.html"  >丝巾</a> </div>
                                <div class="three_nav_child"> <a href="category-96-b0-%E9%A1%B9%E9%93%BE.html"  >项链</a> </div>
                                <div class="three_nav_child"> <a href="category-299-b0-%E8%83%B8%E9%92%88.html"  >胸针</a> </div>
                                <div class="three_nav_child"> <a href="category-342-b0-%E8%85%B0%E5%B8%A6.html"  >腰带</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-93-b0-%E9%9E%8B%E9%9D%B4.html" class="product_row_name " >鞋靴</a>               <div class="three_nav">
                                <div class="three_nav_child"> <a href="category-383-b0-%E5%8D%95%E9%9E%8B.html"  >单鞋</a> </div>
                                <div class="three_nav_child"> <a href="category-94-b0-%E4%BC%91%E9%97%B2%E9%9E%8B.html"  >休闲鞋</a> </div>
                                <div class="three_nav_child"> <a href="category-276-b0-%E7%BB%85%E5%A3%AB%E9%9E%8B.html"  >绅士鞋</a> </div>
                                <div class="three_nav_child"> <a href="category-117-b0-%E5%87%89%E9%9E%8B%E6%8B%96%E9%9E%8B.html"  >凉鞋|拖鞋</a> </div>
                                <div class="three_nav_child"> <a href="category-221-b0-%E5%A5%B3%E9%9D%B4.html"  >女靴</a> </div>
                                <div class="three_nav_child"> <a href="category-108-b0-%E7%94%B7%E9%9E%8B.html"  >男鞋</a> </div>
                                <div class="three_nav_child"> <a href="category-120-b0-%E7%AB%A5%E9%9E%8B.html"  >童鞋</a> </div>
                 </div>
               </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-314-b0-%E4%BA%8C%E6%8A%98%E4%B8%93%E5%8C%BA.html" class="product_row_name " >二折专区</a>  </div>
           
                      
            <div class="product_row product_row_child"> <a href="category-344-b0-%E6%8B%89%E6%9D%86%E7%AE%B1.html" class="product_row_name " >拉杆箱</a>  </div>
           
           </div>
        </li>
        <li class="parentLi"><a href="./" class="allTitle">首页</a></li>
        <li class=" parentLi"><a href="category.php?type=is_new" class="allTitle">初秋新品</a></li>
        <!-- <li class=" parentLi"><a href="two.php" class="allTitle">二折专区</a></li> -->
                <li class=" parentLi"><a href="category-379-b0-%E7%83%AD%E9%94%80%E6%A6%9C.html" class="allTitle">热销榜</a></li>
                <li class=" parentLi"><a href="category-404-b0-%E6%8B%9B%E7%89%8C%E6%AC%BE.html" class="allTitle">招牌款</a></li>
                <li class=" parentLi"><a href="category-270-b0-%E8%A1%AC%E8%A1%AB.html" class="allTitle">衬衫</a></li>
                <li class=" parentLi"><a href="category-40-b0-%E5%A4%96%E5%A5%97.html" class="allTitle">外套</a></li>
                <li class=" parentLi"><a href="category-44-b0-%E8%BF%9E%E8%A1%A3%E8%A3%99.html" class="allTitle">连衣裙</a></li>
                <li class=" parentLi"><a href="category-271-b0-%E9%92%88%E7%BB%87.html" class="allTitle">针织</a></li>
                <li class=" parentLi"><a href="category-355-b0-%E5%8F%8C%E9%9D%A2%E5%91%A2.html" class="allTitle">双面呢</a></li>
                <li class=" parentLi"><a href="category-18-b0-%E8%A3%A4%E8%A3%85.html" class="allTitle">裤装</a></li>
                <li class=" parentLi"><a href="category-383-b0-%E5%8D%95%E9%9E%8B.html" class="allTitle">单鞋</a></li>
                <li class=" parentLi"><a href="category-94-b0-%E4%BC%91%E9%97%B2%E9%9E%8B.html" class="allTitle">休闲鞋</a></li>
                <li class=" parentLi"><a href="category-276-b0-%E7%BB%85%E5%A3%AB%E9%9E%8B.html" class="allTitle">绅士鞋</a></li>
                <li class=" parentLi"><a href="category-115-b0-%E5%8C%85%E5%8C%85.html" class="allTitle">包包</a></li>
                <li class=" parentLi"><a href="category-385-b0-%E6%97%A5%E5%8C%96%E9%A3%9F%E5%93%81.html" class="allTitle">日化食品</a></li>
                <li class=" parentLi"><a href="category-314-b0-%E4%BA%8C%E6%8A%98%E4%B8%93%E5%8C%BA.html" class="allTitle">二折专区</a></li>
                <!-- <li class=" parentLi"><a href="category.php?type=is_presell" class="allTitle">预售</a></li> -->
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/json.js"></script> 
<script type="text/javascript" src="js/public.js"></script> 
<link rel="stylesheet" type="text/css" href="css/global.css">

<div id="dialog_login"></div>
 <div class="block">
    
<div class="flow_steps">
    <ul class="num5">
        <li class="current"><span class="first">1. 查看购物车</span></li>
        <li><span>2. 拍下商品</span></li>
        <li><span>3. 付款到支付宝</span></li>
        <li><span>4. 确认收货</span></li>
        <li class="last"><span>5. 评价</span></li>
    </ul>
</div>
<div  id="empty">
    <div class="cart_menu">
    <ul>
        <li class="top">我的交易</li>
        <li><a href="flow.php">我的购物车</a></li>
        <li><a class="curs" href="user.php?act=order_list">我已买到的宝贝</a></li>
        <li><a href="user.php?act=bonus">我的红包</a></li>
        <li><a href="user.php?act=collection_list">我的收藏</a></li>
        <li><a href="user.php?act=transform_points">我的积分</a></li>
        <li><a href="user.php?act=goods_comment_list">评价管理</a></li>
        <li class="tk"><a href="user.php?act=order_list&amp;order_status=REFUNDING">退货维权</a></li>
    </ul>
    </div>
    <div class="cart_menu_right">
    <h2>您的购物车还是空的，赶紧行动吧！您可以：</h2>
    <ul>
        <li>马上去
        <a  class="aHover" href="index.php">挑选商品</a>
        </li>
        <li>看看 <a class="aHover"  target="_blank" href="user.php?act=order_list">已买到的商品</a>
        </li>
    </ul>
    </div>
</div>

<div class="recommendBox" >
    <div class="hd">
        <h2><span>哥弟为您推荐</span></h2>
        <ul class="recommendNav" id="recommendNav">
            <li  class="curNav">最近浏览过的商品</li>
            <li>您可能感兴趣的商品</li>
        </ul>
    </div>
    <div class="bd" id="recommendContent">
        <div class="recommendCont clearfix" style="display:block;">
            <div class="trigger imgUp"><!--二期开发<s></s>--></div>
            <div class="recommendList">
                <ul class="ks-switchable-content">
                                    </ul>
            </div>
            <div class="trigger imgDown"><!--<s></s>--></div>
            <!--<ul class="ks-switchable-nav">
              <li class="">•</li>
              <li class="ks-active">•</li>
              <li class="">•</li>
              <li class="">•</li>
            </ul>-->
        </div>
        <div class="recommendCont clearfix">
            <div class="trigger imgUp"><!--二期开发<s></s>--></div>
            <div class="recommendList">
                <ul class="ks-switchable-content">
                                        <li >
                        <p class="img"><a title="哥弟女鞋2017秋冬季新款牛反绒双拉链毛毛靴真毛内增高机车靴AX15026" href="goods-2358.html" target="_blank"><img alt="哥弟女鞋2017秋冬季新款牛反绒双拉链毛毛靴真毛内增高机车靴AX15026" src="picture/2358_thumb_g_1502869087794.jpg"></a></p>
                        <p class="price"><strong>350.00</strong></p>
                        <p class="title"><a title="哥弟女鞋2017秋冬季新款牛反绒双拉链毛毛靴真毛内增高机车靴AX15026" href="goods-2358.html" target="_blank">哥弟女鞋2017秋冬季新款牛反绒双拉链毛毛靴真毛内增高机车靴AX15026</a></p>
                    </li>
                                        <li >
                        <p class="img"><a title="【预售】哥弟男鞋2017秋冬季新款开边珠圆头加厚底男鞋扣带商务休闲男鞋AX20009" href="goods-2356.html" target="_blank"><img alt="【预售】哥弟男鞋2017秋冬季新款开边珠圆头加厚底男鞋扣带商务休闲男鞋AX20009" src="picture/2356_thumb_g_1502857798284.jpg"></a></p>
                        <p class="price"><strong>500.00</strong></p>
                        <p class="title"><a title="【预售】哥弟男鞋2017秋冬季新款开边珠圆头加厚底男鞋扣带商务休闲男鞋AX20009" href="goods-2356.html" target="_blank">【预售】哥弟男鞋2017秋冬季新款开边珠圆头加厚底男鞋扣带商务休闲男鞋AX20009</a></p>
                    </li>
                                        <li >
                        <p class="img"><a title="【预售】哥弟·皓月中秋月饼礼盒" href="goods-2368.html" target="_blank"><img alt="【预售】哥弟·皓月中秋月饼礼盒" src="picture/2368_thumb_g_1503127916195.jpg"></a></p>
                        <p class="price"><strong>218.00</strong></p>
                        <p class="title"><a title="【预售】哥弟·皓月中秋月饼礼盒" href="goods-2368.html" target="_blank">【预售】哥弟·皓月中秋月饼礼盒</a></p>
                    </li>
                                        <li >
                        <p class="img"><a title="【预售】哥弟女包2017秋冬季新款恶魔双肩包毛毛装饰女背包（小）AB10047" href="goods-2363.html" target="_blank"><img alt="【预售】哥弟女包2017秋冬季新款恶魔双肩包毛毛装饰女背包（小）AB10047" src="picture/2363_thumb_g_1503022545527.jpg"></a></p>
                        <p class="price"><strong>680.00</strong></p>
                        <p class="title"><a title="【预售】哥弟女包2017秋冬季新款恶魔双肩包毛毛装饰女背包（小）AB10047" href="goods-2363.html" target="_blank">【预售】哥弟女包2017秋冬季新款恶魔双肩包毛毛装饰女背包（小）AB10047</a></p>
                    </li>
                                        <li style="margin-left:0;">
                        <p class="img"><a title="【预售】哥弟女鞋2017秋冬季新款牛皮粗跟短靴小圆头拉链风琴靴AX15024 " href="goods-2357.html" target="_blank"><img alt="【预售】哥弟女鞋2017秋冬季新款牛皮粗跟短靴小圆头拉链风琴靴AX15024 " src="picture/2357_thumb_g_1502864228538.jpg"></a></p>
                        <p class="price"><strong>450.00</strong></p>
                        <p class="title"><a title="【预售】哥弟女鞋2017秋冬季新款牛皮粗跟短靴小圆头拉链风琴靴AX15024 " href="goods-2357.html" target="_blank">【预售】哥弟女鞋2017秋冬季新款牛皮粗跟短靴小圆头拉链风琴靴AX15024 </a></p>
                    </li>
                                    </ul>
            </div>
            <div class="trigger imgDown"><!--<s></s>--></div>
            <!--<ul class="ks-switchable-nav">
              <li class="">•</li>
              <li class="ks-active">•</li>
              <li class="">•</li>
              <li class="">•</li>
            </ul>-->
        </div>
    </div>
</div>

<script type="text/javascript">
	 	
    //加入收藏
    function flowAddCollect(ob,goods_id,rec_id){
			
        var res = Ajax.call('flow.php?step=collect', 'id='+goods_id ,null, 'GET', 'JSON', false);
        var td = $(ob).closest('tr').position();
	    if(res.error == 0)  var str = 'success';
       
	    else  var str = 'notice';
		
        $('#collectMessage').removeClass().addClass(str).text(res.message).parent().css({
            'left':td.left,
            'top':td.top,
            'display':'block'
        }).fadeTo(3000,1,
        function(){
            $(this).hide();
            if(res.error == 0)
            {	
                var del = Ajax.call('flow.php?step=drop_goods', 'id='+rec_id ,null, 'POST', 'JSON', false);
                if(del.error == 0)  $(ob).closest('tr').remove();
            }
        });
			
    }

    //哥弟推荐
    $('#recommendNav li').click(function()
    {
        $(this).addClass('curNav').siblings('li').removeClass('curNav');
        var num = $.inArray(this,$('#recommendNav li').get());
        $('#recommendContent div.recommendCont').eq(num).show().siblings('div.recommendCont').hide();
    });
	 	
    var _status = 0;
    //商品加减数量
    function goodsNum(ob,rec_id,is_add,price, num)
    {
        var cls = $.trim($(ob).attr('class'));
        if(_status==1){
            return;
        }else{
            if( cls == 'm-minus m-jobout' ||  cls == 'm-plus m-jobout')
            {
                if(is_add)
                {
                    var i = 1;  var str = 'm-plus-disable';
                }else
                {
                    var i = -1; var str = 'm-minus-disable';
                }
                var goodsNum = $(ob).siblings('input');
                var num = parseInt(goodsNum.val())+i;   
                if(i == -1 && num <2)
                {
                    $(ob).addClass(str);
                }else if(num > 1)
                {
                    $(ob).parent().children('.m-minus').removeClass('m-minus-disable');
                }
                _status = 1; 
                $.get('cart.php?op=update', {rec_id : rec_id , num : num}, function(data){
                    _status = 0;
                    if (data != 1){
                        alert('更新失败');
                    }else{
                         goodsNum.val(num);
                        var col_total =  $(ob).closest('td').siblings('td.m-col-total').children('em.m-sum');
                        var statPrice = (parseInt($('#statGoodsPrice').text()) + (i*price)).toFixed(2);
                        var shopPrice = (parseInt(col_total.text()) + (i*price)).toFixed(2);
                        $('#statGoodsPrice').text(statPrice);
                        col_total.text(shopPrice)
                    }
                });
            }
        }
    }
        
    //鼠标移动到购物车里的小图时显示大图
    $('#minGoodsImg a.minGoodsImg_a').hover(function()
    {
        $(this).children('.col_img_hide,s').show();
			  
    },function()
    {
        $(this).children('.col_img_hide,s').hide();
    });
		  
    //在输入框直接输入数量执行的方法
    function chageGoodsNum(ob,price,rec_id)
    {
        var num = parseInt($(ob).val());
        if(isNaN(num) || num == 0)
        {
            num = 1;
            $(ob).val(num);
        }
        var res = Ajax.call('flow.php?step=goodsNum', 'rec_id='+rec_id+'&num='+num ,null, 'POST', 'JSON', false);
        if(res.error == 0)
        {
            var col_total =  $(ob).closest('td').siblings('td.m-col-total').children('em.m-sum');
            var statPrice = (parseInt($('#statGoodsPrice').text()) - parseInt(col_total.text()) + num * price).toFixed(2);
            $('#statGoodsPrice').text(statPrice);
            var shop_goods = (num * price).toFixed(2);
            col_total.text(shop_goods);
        }else{
            alert("商品修改失败，请刷新重试");	
        }
				
    }
			
    //删除商品
    function deleteGoods(ob,rec_id)
    {
        if(confirm('确认要删除该宝贝吗？'))
        {
					
            var res = Ajax.call('flow.php?step=drop_goods', 'id='+rec_id ,null, 'POST', 'JSON', false);
            if(res.error == 0)
            {
                var td = '<td colspan="7" class="deleteGoods"><p>成功删除宝贝，如有误，可<a onclick="restoreGoods(this,'+rec_id+')" class="aHover">撤销本次删除</a></p></td>';
                $(ob).closest('tr').siblings('tr.m-undo-msg').remove();
                $(ob).closest('tr').children('td').hide().parent().removeClass().addClass('m-undo-msg').append(td);
                var price = $(ob).closest('td').siblings('td.m-col-total').text();
                var statPrice = (parseInt($('#statGoodsPrice').text()) - parseInt(price)).toFixed(2);
                $('#statGoodsPrice').text(statPrice);
            }
					
        }
    }
			
    //还原已删除的商品
    function restoreGoods(ob,rec_id)
    {
        var res = Ajax.call('flow.php?step=restore_goods', 'id='+rec_id ,null, 'POST', 'JSON', false);
        var price = $(ob).closest('td').siblings('td.m-col-total').text();
        $(ob).closest('tr').removeClass('m-undo-msg').addClass('m-order m-selected').children('td').show().siblings('td.deleteGoods').remove();	
        var statPrice = (parseInt($('#statGoodsPrice').text()) + parseInt(price)).toFixed(2);
        $('#statGoodsPrice').text(statPrice);
    }
</script>
  
  

        
                
        
        
        
        
        
 		        
        
                



</div>
<div class="blank5"></div>
<link rel="stylesheet" href="css/base.css" type="text/css"/>

<div class="footer">
  
  <div class="container">
          <div class="clearfix shaoma">
      <div class="user-serve-tel">
        <img src="picture/010.jpg" />
                <!--<a href="javascript:;" class="consult-service" onclick="SERVER_NTKF();">关于哥弟</a>-->
                <a href="http://www.girdear.cn/topic.php?topic_id=131" target="_blank" class="consult-service">关于哥弟</a>
                <a href="javascript:;" onclick='add_email_list();' class="consult-service">订阅邮件</a>
            </div>
            <ul class="new-user-info clearfix">
                <li>
                    <h3>购物指南</h3>
                    <a rel="nofollow" href="http://www.girdear.cn/topic.php?topic_id=14">会员礼遇</a>
                    <a rel="nofollow" href="http://www.girdear.cn/article_cat-5-%E5%95%86%E5%9F%8E%E4%BF%9D%E9%9A%9C.html">商城保障</a>
                    <a rel="nofollow" href="http://www.girdear.cn/article_cat-6-%E8%B4%AD%E7%89%A9%E6%8C%87%E5%8D%97.html">购物指南</a>
                    <a rel="nofollow" href="http://www.girdear.cn/article_cat-9-%E5%94%AE%E5%90%8E%E6%9C%8D%E5%8A%A1.html">售后服务</a>
                </li>
                <li>
                    <h3>关于我们</h3>
                    <a rel="nofollow" href="http://www.girdear.cn/article-136.html">公司简介</a>
                    <a rel="nofollow" href="http://www.girdear.net/zh-CN/index.html">公司官网</a>
                    <a rel="nofollow" href="http://www.girdear.cn/article_cat-10-%E5%B8%AE%E5%8A%A9%E4%B8%AD%E5%BF%83.html">帮助中心</a>
                    <a rel="nofollow" href='javascript:;' onclick="SERVER_NTKF();">联系我们</a>
                </li>
            </ul>

            <ul class="footer-qr-pic clearfix">
                <li>
                    <h3>微信商城</h3>
                    <img src="picture/weixin.jpg">
                </li>
                <li>
                    <h3>手机商城</h3>
                    <img src="picture/yidong.jpg">
                </li>
        <li>
                    <h3>新浪微博</h3>
                    <img src="picture/weibo.jpg">
                </li>
        <li>
                    <h3>苹果APP</h3>
                    <img src="picture/pingguo.jpg">
                </li>
            </ul>
        </div>
  </div>
  
  
  
  <div class="gd_w1920">
      <img width="1920" alt="" border="0" usemap="#Maptmall1" src="picture/tb2qpytn88kpufjsspexxc7ipxa_!!728443962.jpg">
    <map name="Maptmall1">
    <area shape="circle" coords="853,200,82" target="_blank" href="http://www.girdear.cn/article-5.html">
    <area shape="circle" coords="1076,201,80" target="_blank" href="http://www.girdear.cn/category.php?type=is_presell">
    <!-- <area shape="circle" coords="1316,201,87" target="_blank" onclick="addFavorite();">  -->
    <area shape="circle" coords="1316,201,87" target="_blank" href="http://www.girdear.cn/topic.php?topic_id=14"> 
    </map>
  </div>
  
  
  
    <div class="container">
            <div class="footer-link">
                <a>友情链接：</a>
                <span id='FriendLinks'>
                                        <a href='http://www.girdear.cn/topic.php?topic_id=132' target="_blank">申请友情链接</a><b>|</b>
                                        <a href='http://www.girdear.net' target="_blank">广东哥弟时尚服饰研发有限公司</a><b>|</b>
                                        <a href='https://girdear.tmall.com/' target="_blank">哥弟官方旗舰店 - 天猫</a><b>|</b>
                                        <a href='https://girdear.jd.com/' target="_blank">哥弟官方旗舰店 - 京东</a><b>|</b>
                                        <a href='http://www.aikuaidi.cn' target="_blank">快递单号查询</a><b>|</b>
                                    </span>
            </div>        
        <div class="footer-about-us">
            <p>
                哥弟官方商城版权 Copyright &copy; 2014 www.girdear.cn All Rights Reserved  <a href="http://www.miitbeian.gov.cn/" target="_blank" ="">粤ICP备14020108号-1</a>
            </p>
            <div class="footer-certificate">
                <a class="footer-certificate-one" href="http://c.trustutn.org/s/girdear.cn" target="_blank" rel="nofollow" alt="dd">
                    <img src="picture/logo_down.jpg">
                </a>
                <a class="footer-certificate-one" href="http://webscan.360.cn/index/checkwebsite/url/www.girdear.cn" target="_blank" rel="nofollow" alt="dd">
                    <img src="picture/360anquan.png">
                </a>
            </div>
        </div>
    </div>
  
</div>
 
 

<!--[if lte IE 8]>
<script src="js/iebetter.js"></script>
<![endif]-->
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/quick_links.js"></script>
<script type="text/javascript" src="js/parabola.js"></script>
<script type="text/javascript">
	$(".quick_links_panel li").mouseenter(function(){
		$(this).children(".mp_tooltip").animate({left:-92,queue:true});
		$(this).children(".mp_tooltip").css("visibility","visible");
		$(this).children(".ibar_login_box").css("display","block");
	});
	$(".quick_links_panel li").mouseleave(function(){
		$(this).children(".mp_tooltip").css("visibility","hidden");
		$(this).children(".mp_tooltip").animate({left:-121,queue:true});
		$(this).children(".ibar_login_box").css("display","none");
	});
	$(".quick_toggle li").mouseover(function(){
		$(this).children(".mp_qrcode").show();
	});
	$(".quick_toggle li").mouseleave(function(){
		$(this).children(".mp_qrcode").hide();
	});

// 元素以及其他一些变量
var eleFlyElement = document.querySelector("#flyItem"), eleShopCart = document.querySelector("#shopCart");
var numberItem = 0;
// 抛物线运动
var myParabola = funParabola(eleFlyElement, eleShopCart, {
	speed: 400, //抛物线速度
	curvature: 0.0008, //控制抛物线弧度
	complete: function() {
		eleFlyElement.style.visibility = "hidden";
		eleShopCart.querySelector("span").innerHTML = ++numberItem;
	}
});
// 绑定点击事件
if (eleFlyElement && eleShopCart) {
	
	[].slice.call(document.getElementsByClassName("btnCart")).forEach(function(button) {
		button.addEventListener("click", function(event) {
			// 滚动大小
			var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || 0,
			    scrollTop = document.documentElement.scrollTop || document.body.scrollTop || 0;
			eleFlyElement.style.left = event.clientX + scrollLeft + "px";
			eleFlyElement.style.top = event.clientY + scrollTop + "px";
			eleFlyElement.style.visibility = "visible";
			
			// 需要重定位
			myParabola.position().move();			
		});
	});
}

//新增一个调用小能前判断是否登录的函数
var _login_status = '';
function SERVER_NTKF(){
  if(_login_status){
    NTKF.im_openInPageChat('kf_9549_1491462167868');
    return true;
  }else{
    pop_login();
    return false;
  }
}

/***********订阅邮箱****************/
function add_email_list()
{
    //先判断是否有登录
    if(_login_status){
      var _email = '';
        //判断邮箱是否为空
        if(!_email){
          pop_email_follow(0);
          return false;
        }
      if (check_email(_email))
      {
        pop_email_follow(1);
      }
    }else{
        pop_login();
        return false;
    }
}
function rep_add_email_list(text)
{
  alert(text);
}
elf_isEmail = function( email )
{
  var reg1 = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)/;

  return reg1.test( email );
}
function check_email(email)
{
  // var email = document.getElementById('user_email');
  if (elf_isEmail(email))
  {
    return true;
  }
  else
  {
    alert('此Email不是合法的地址');
    // email.focus();
    return false;
  }
}
/***********订阅邮箱****************/
</script>



  
  <script language="javascript" type="text/javascript">
  NTKF_PARAM = {
    siteid:"kf_9549",               //企业ID，为固定值，必填
    settingid:"kf_9549_1491462167868",  //接待组ID，为固定值，必填
    uid:"",                    //用户ID，未登录可以为空，但不能给null，uid赋予的值显示到小能客户端上
    uname:"",        //用户名，未登录可以为空，但不能给null，uname赋予的值显示到小能客户端上
    isvip:"0",                          //是否为vip用户，0代表非会员，1代表会员，取值显示到小能客户端上
    userlevel:"0",                    //网站自定义会员级别，0-N，可根据选择判断，取值显示到小能客户端上
    itemid:"",                      //(必填)商品ID
    itemparam:"girdear",                //对接平台的参数,girdear代表官网，girdearshop代表微商城,girdearmall代表二折微商城
    orderid:"",              //订单ID
    orderprice:"",//订单总价
    erpparam:"gd"                      //erpparam为erp功能的扩展字段，可选，购买erp功能后用于erp功能集成
    }
    var orderid = NTKF_PARAM.orderid;
    var orderprice = NTKF_PARAM.orderprice;
    if(orderid && !orderprice){
        $.ajax({
            url:'user.php?act=checkorder_ajax',
            type:'post',
            data:{'orderid':orderid,'orderprice':orderprice},
            success:function(data){
            
            }
        })
    }
  </script>
  
<script type="text/javascript" src="js/ntkfstat.js" charset="utf-8"></script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f4cdc839305fec87af2364a04a938667";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
<script type="text/javascript">
var process_request = "正在处理您的请求...";
var username_empty = "- 用户名不能为空。";
var username_shorter = "- 用户名长度不能少于 3 个字符。";
var username_invalid = "- 用户名只能是由字母数字以及下划线组成。";
var password_empty = "- 登录密码不能为空。";
var password_shorter = "- 登录密码不能少于 6 个字符。";
var confirm_password_invalid = "- 两次输入密码不一致";
var email_empty = "- Email 为空";
var email_invalid = "- Email 不是合法的地址";
var agreement = "- 您没有接受协议";
var msn_invalid = "- msn地址不是一个有效的邮件地址";
var qq_invalid = "- QQ号码不是一个有效的号码";
var home_phone_invalid = "- 家庭电话不是一个有效号码";
var office_phone_invalid = "- 办公电话不是一个有效号码";
var mobile_phone_invalid = "- 手机号码不是一个有效号码";
var msg_un_blank = "* 用户名不能为空";
var msg_un_length = "* 用户名最长不得超过7个汉字";
var msg_un_format = "* 用户名含有非法字符";
var msg_un_registered = "* 用户名已经存在,请重新输入";
var msg_can_rg = "* 可以注册";
var msg_email_blank = "* 邮件地址不能为空";
var msg_email_registered = "* 邮箱已存在,请重新输入";
var msg_email_format = "* 邮件地址不合法";
var msg_blank = "不能为空";
var no_select_question = "- 您没有完成密码提示问题的操作";
var passwd_balnk = "- 密码中不能包含空格";
var username_exist = "用户名 %s 已经存在";
var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
var btn_buy = "购买";
var is_cancel = "取消";
var select_spe = "请选择商品属性";
</script>
</html>
